table.view {
    font-family:arial;
	background-color: #CDCDCD;
	margin: 10px auto 0 auto;
	font-size: 10pt;
	width: 100%;
	text-align: left;
    border-collapse: collapse;
}
.view:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.dcell {
    border:1px solid lightgrey;
    padding: 5px;  
}
.hcell {
	border: 1px solid #FFF;
	padding: 4px;    
    text-align:center;
}
table.view tbody tr:nth-child(odd),table.view tfoot tr:nth-child(odd) {
    background-color:white;
}
table.view tbody tr:nth-child(even),table.view tfoot tr:nth-child(even) {
    background-color:#fafafa;
}
form {
    margin-top:10px
}
.button {
    width: 100px;
}