table.view {
    font-family:arial;
	background-color: #CDCDCD;
	margin: 10px auto 0 auto;
	font-size: 10pt;
	width: 100%;
	text-align: left;
    border-collapse: collapse;
}
.view:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.dcell {
    border:1px solid lightgrey;
    padding: 5px;  
}
.hcell {
	border: 1px solid #FFF;
	padding: 4px;    
    text-align:center;
}
table.view tbody tr:nth-child(odd),table.view tfoot tr:nth-child(odd) {
    background-color:white;
}
table.view tbody tr:nth-child(even),table.view tfoot tr:nth-child(even) {
    background-color:#fafafa;
}
form {
    margin-top:10px
}
.button {
    background-color: #dc1c23;
    width: 200px;
    color: #fff;
    height: 33px;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}
.red {
    background-color: #dc1c23;
}
.green {
    background-color: green;
}
.mainlogin {
    max-width: 400px;
    border-radius: 15px;
    margin: 20px auto 0 auto;
}
.inputfield{
    width: calc(100% - 12px);
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
    height: 25px;
    border: 1px solid #696969;
    padding: 5px;
}
.redbutton {
    background-color: #dc1c23;
    width: 100%;
    color: #fff;
    height: 33px;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}
.graybutton {
    background-color: #696969;
    width: 100%;
    color: #fff;
    height: 33px;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}
.table {
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    border: 0;
}